[build-system]
build-backend = "flit_core.buildapi"
requires = [
  "flit_core<4,>=3.7.1",
]

[project]
name = "doitoml"
version = "0.1.0"
description = "declarative tasks for doit"
readme = "README.md"
authors = [
    { name = "doitoml contributors", email = "deathbeds@googlegroups.com" },
]
requires-python = ">=3.8"
classifiers = [
  "License :: OSI Approved :: BSD License",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3",
]
dependencies = [
  "doit",
  "jinja2",
  "tomli",
  "typing-extensions",
]
[project.urls]
"Bug Tracker" = "https://github.com/deathbeds/doitoml/issues"
"Changelog" = "https://github.com/deathbeds/doitoml/blob/main/CHANGELOG.md"
"Documentation" = "https://doitoml.rtfd.io"
"Source" = "https://github.com/deathbeds/doitoml"
[project.entry-points."doit.LOADER"]
doitoml-dodo-pyproject-toml = "doitoml.loaders:DodoPyprojectLoader"
doitoml-pyproject-toml = "doitoml.loaders:PyprojectTomlLoader"
doitoml-package-json = "doitoml.loaders:PackageJsonLoader"
[project.entry-points."doitoml.config-parser.v0"]
doitoml-package-json = "doitoml.sources.json.package:PackageJsonParser"
doitoml-pyproject-toml = "doitoml.sources.toml.pyproject:PyprojectTomlParser"
[project.entry-points."doitoml.dsl.v0"]
doitoml-colon-colon-path = "doitoml.dsl:PathRef"
doitoml-colon-get = "doitoml.dsl:Getter"
doitoml-colon-glob = "doitoml.dsl:Globber"
doitoml-dollar-env = "doitoml.dsl:EnvReplacer"
[project.entry-points."doitoml.parser.v0"]
json = "doitoml.sources.json._json:JsonParser"
toml = "doitoml.sources.toml._toml:TomlParser"

[tool.pytest.ini_options]
cache_dir = "build/.cache/pytest"
script_launch_mode = "subprocess"
addopts = [
    # for humans
    "--html=build/reports/pytest.html",
    "--self-contained-html",
    "--cov-report=html:build/reports/htmlcov",
    "--cov-report=term-missing:skip-covered",
    "--color=yes",
    # for robots
    "--json-report",
    "--json-report-file=build/reports/pytest.json",
    # xdist
    "-n=auto",
    # cov
    "--cov=doitoml",
    "--cov-branch",
    "--cov-context=test",
    "--cov-fail-under=83",
    "--no-cov-on-fail",
    # misc
    "-vv",
    "--ff",

]

[tool.coverage.html]
show_contexts = true

[tool.coverage.run]
data_file = "build/reports/coverage/.coverage"

[tool.mypy]
cache_dir = "build/.cache/mypy"
sqlite_cache = true
# language settings
python_version = "3.8"
allow_redefinition = true
check_untyped_defs = true
disallow_untyped_defs = true
no_implicit_optional = true
show_error_codes = true
warn_return_any = true
warn_unused_ignores = true
overrides = [
  { module = ["doit", "doit.*", "tomllib",], ignore_missing_imports = true }
]

[tool.doit]
backend = "sqlite3"
verbosity = 2
par_type = "thread"

[tool.doit.commands.list]
status = true
subtasks = true

[tool.ruff]
# fix = true
ignore = [
  "D211",
  "D213",
  # if it doesn't bother mypy...
  "ANN101",
  "ANN401",
  "PGH003",
  # keep 3.8 compat
  "UP006",
  "UP007",
]
cache-dir = "build/.cache/ruff"
select = [
    "A",
    "ANN",
    "ARG",
    "B",
    "BLE",
    "C4",
    "C90",
    "COM",
    "D",
    "DJ",
    "DTZ",
    "E",
    "EM",
    "ERA",
    "EXE",
    "F",
    # "FBT",
    "G",
    "I",
    "ICN",
    "INP",
    "ISC",
    "N",
    "NPY",
    "PD",
    "PGH",
    "PIE",
    "PL",
    "PT",
    "PTH",
    "PYI",
    "Q",
    "RET",
    "RSE",
    "RUF",
    "S",
    "SIM",
    "SLF",
    "T10",
    "T20",
    "TCH",
    "TID",
    # "TRY",
    "UP",
    "W",
    "YTT",
]
[tool.ruff.per-file-ignores]
"_config.py" = ["PLR0912", "C901", "PLR0913"]
"test/**/*.py" = ["S101", "T201"]
"dsl.py" = ["ARG002"]
"entry_points.py" = ["BLE001"]
"dodo.py" = ["BLE001"]
"_source.py" = ["BLE001"]

[tool.doitoml]
prefix = ""

[tool.doitoml.env]
DOITOML_VERSION = ":get::toml::pyproject.toml::project::version"
PIP_DOWNLOAD_CACHE = "./build/.cache/pip"
BLACK_CACHE_DIR = "./build/.cache/black"
DOITOML_WHEEL = "doitoml-${DOITOML_VERSION}-py3-none-any.whl"
DOITOML_SDIST = "doitoml-${DOITOML_VERSION}.tar.gz"

[tool.doitoml.paths]
whl = ["dist/${DOITOML_WHEEL}"]
sdist = ["dist/${DOITOML_SDIST}"]
all_py = ["dodo.py", "::py_src", "::all_py_test"]
py_src = [":rglob::src::*.py"]
all_py_test = [":rglob::test::*.py"]
ppt = ["pyproject.toml"]
all_ppt = [":glob::examples::*/pyproject.toml"]
all_py_dist = ["::ppt", "::py_src", "README.md", "LICENSE.txt"]
all_examples = [
  ":glob::examples/py-js-web::*.json::*.toml::*.yml::*.py::*.js",
  ":rglob::examples/py-js-web/src::*.*",
  ":rglob::examples/py-js-web/js::*.*",
  "::all_ppt"
]

[tool.doitoml.tasks.build.pypi]
doc = "Build distributions for PyPI"
file_dep = ["::all_py_dist"]
targets = ["::whl"]
actions = [["pyproject-build", "-nx"]]

[tool.doitoml.tasks.fix.black]
doc = "Format python source with `black`"
file_dep = ["::ppt", "::all_py"]
actions = [["black", "--quiet", "::all_py"]]

[tool.doitoml.tasks.fix.ruff]
doc = "Format python source with `ruff`"
file_dep = ["::ppt", "::all_py"]
task_dep = ["fix:black"]
actions = [["ruff", "--fix", "::all_py"]]

[tool.doitoml.tasks.fix.pyproject-fmt]
doc = "Format pyproject.toml with pyproject-fmt"
file_dep = ["::all_ppt"]
actions = [["pyproject-fmt", "::all_ppt"]]

[tool.doitoml.tasks.lint.black]
doc = "Check python formatting with `black`"
file_dep = ["::ppt", "::all_py"]
actions = [["black", "--check", "::all_py"]]

[tool.doitoml.tasks.lint.ruff]
doc = "Check python syntax with `ruff`"
file_dep = ["::ppt", "::all_py"]
actions = [["ruff", "::all_py"]]

[tool.doitoml.tasks.lint.mypy]
doc = "Check python types with `mypy`"
file_dep = ["::ppt", "::all_py"]
actions = [["mypy", "::all_py"]]

[tool.doitoml.tasks.test.pytest]
doc = "Run tests with pytest"
file_dep = ["::ppt", "::all_py", "::all_py_test", "::all_examples"]
actions = [["pytest"]]
