[tool.doit]
loader = "doitoml"
verbosity = 2

[tool.doitoml.env]
DIV2 = "10"
DIV3 = "18"

[tool.doitoml.tasks.true]
actions = ['echo "hello true"']
uptodate = [{py = {"_uptodate:true" = {}}}]

[tool.doitoml.tasks.false]
actions = ['echo "hello false"']
uptodate = [{py = {"_uptodate:false" = {}}}]

[tool.doitoml.tasks.div2]
actions = ['echo "hello 2"']
uptodate = [{py = {"_uptodate:env_is_divisible_by" = {args = ["DIV2", "2"]}}}]

[tool.doitoml.tasks.div3]
actions = ['echo "hello 3"']
uptodate = [{py = {"_uptodate:env_is_divisible_by" = {args = ["DIV3", "3"]}}}]

[tool.__doitoml_tests__.steps.00_list]
after = {files = {"*" = 3}}
before = {files = {"**/*" = 3, "*" = 3}}
rc = 0
run = ["doit", "list"]
tasks = 8

[tool.__doitoml_tests__.steps.01_run]
after = {files = {"*" = 3}}
rc = 0
run = ["doit"]
